
<div class="container my-5" style="width: 70%">


  <% @travel_details.each do |travel_detail| %>

    <div style="margin-bottom: 60px">

      <%= render 'travel_detail', locale = {travel_detail: travel_detail}%>

<!--      Place Order Button or Details Button-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <% if travel_detail.user.id != current_user.id %>
            <%= link_to 'Place Order', new_travel_detail_order_path(travel_detail), class: 'btn btn-outline-danger me-md-2' %>
        <% else %>
          <%= link_to 'Details', travel_detail_orders_path(travel_detail), class: 'btn btn-outline-success me-md-2' %>
        <% end %>
      </div>

    </div>

  <% end %>

  <%= will_paginate @travel_details %>



</div>

