<div class="container" style="margin-top: 40px">


  <% if @orders.any? %>
    <h3 class="my-5">My Orders</h3>
    <% @orders.each do |order| %>

      <div class="row align-items-center p-3 my-5 border border-secondary rounded-4 bg-primary bg-opacity-10">

        <div class="col-3 ">
          <div class="card">
            <div class="card-header">
              Package Details
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= order.package_details %></li>
            </ul>
            <div class="card-header">
              Weight
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= order.weight %></li>
            </ul>
          </div>
        </div>

        <div class="col-1"></div>

        <div class="col-8">
          <h5>Service Details</h5>

          <div style="width: 20cm">
            <%= render 'travel_details/travel_detail', locale = { travel_detail: order.travel_detail } %>
          </div>

        </div>

      </div>

      <!--    <hr class="divider w-50" style="margin-bottom: 40px; margin-top: 40px"></hr>-->

    <% end %>
    <%= will_paginate @orders %>
  <% else %>
    <h5 class="text-center no-service-available h-100">You have not placed any order yet</h5>
  <% end %>
</div>
