<div class="input-group nested-fields my-1">
  <%= f.label 'Item Name', class: 'input-group-text' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= link_to_remove_association 'Remove', f, class:'btn btn-danger' %>
</div>
